#header {
	width:100%;
	height:300px;
	background: #111;
	color: #666;
	margin: 0;
}

.layer{
	width: 100%;
	height:300px;
	margin-right: auto;
	margin-left: auto;
}

.img_layer{
	width: 50%;
	height:100%;
	opacity: 0.20;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.img_tete{
	width: 310px;
	height:270px;
	margin-right: auto;
	margin-left: auto;
}

.container {
	position: relative;
	margin: 0 auto;
	padding: 5%;
}

.scene {
	padding: 0;
	margin: 0;
}

.fill {
	position: absolute;
	bottom: 5%;
	right: 5%;
	left: 5%;
	top: 5%;
}